.logo img{
  height: 80%;
}
.logo{
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 5vw;
}
.navigation{
  height: 5vw;
  background: red;
  width: 100%;
  display: flex;
}
nav ul li{
  text-decoration: none;
  list-style-type: none; 
  display: inline-flex;
  align-items: flex-end;
}
nav ul{
  margin: 0;
  position: relative;
  display: inline-flex;
  vertical-align: bottom;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5vw;
}
nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836);
  margin: 0.5vw;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.5vw;
}
nav ul li a:hover{
  color: white;
  border-bottom: 3px solid white;
  border-radius: 10%;
}
body{
  background-color: rgb(228, 226, 104);
}
.burger-controlls{
  background-color: rgb(206, 149, 43);
  margin: auto;
  font-weight: 600;
  padding: 1vw;
  overflow: hidden;
  text-align: center;
}
.burger-controlls p{
  text-align: center;
  font-size: 2rem;
  color: white;
}
.label{
  display: inline-block;
  margin: 0 0.5%;
  color: white;
  font-size: 1.5rem;
}
.control-button{ 
  border: 1px solid black;
  width:30%;
  margin: 1vw auto;
  text-align: center;
}
.control-button button{
  background-color: transparent;
  border: 2px solid red;
  color: white;
  margin: 3px 0.25%;
  padding: 2px;
  font-size: 1.25rem;
  border-radius: 0.5vw;
}
.burger-show{
  margin: auto;
  width: 50%;
  padding: 2% 0;
  height: 30vh;
  overflow-y: scroll;
}
.burger-show *{
  margin:auto;
}