.cheese-default{
    background-color: orange;
    background-size: contain;
    background-position: center;
    width: 15.5vw;
    height: .5vw;
    text-align: center;
    border-radius: 0.3vw;
    color: white
}