.App {
  text-align: center;
  padding-top: 5vmax;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 250ms ease-in-out;
  }
}

.App-header {
  height: 3vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.Toolbar {
  height: 3vmax;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}
.logoImage{
  height: 80%;
  width: 100%;
  filter: grayscale(100%) invert(100%);
  text-align: center;
}
.Toolbar ul{
  width: fit-content;
}
.Toolbar ul li{
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  color: #fff;
}
.Toolbar ul li a{
  text-decoration: none;
  color: #FFF;
}
.Logo {
  height: 80%;
}

