/* ##############################################
######### Order's form css ######################
############################################## */

.order {
  display: block;
}
.order .information {
  display: flex;
  border: 1px solid black;
}
.order .information .baseprice p {
  text-align: left;
}
.order .information .ingredients {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  border: 1px solid blueviolet;
  height: 20vh;
  overflow-y: scroll;
}
.order .information .ingredients table thead th {
  background-color: aquamarine;
  padding: 3px;
  text-align: center;
}
.order .information .ingredients table {
  border-collapse: collapse;
  width: 100%;
}
.order .information .ingredients table thead tr {
  height: 25%;
}
.order .information .ingredients table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0);
}
.order .information .ingredients table tbody tr:nth-child(even) {
  background-color: #6464642c;
}
.order .information .total {
  max-width: 30%;
  text-align: start;
  padding: 0.5vw;
}

.order .addressForm {
  display: block;
}
.order .addressForm .address {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* #################################################################
########################## Login ###################################
################################################################# */
.login{
    display: block;
    position: static;
    height: 70vh;
}
.login__container{
    position: relative;
    top: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
}
.login__container input{
    width: 30vmin;
    border-radius: 12px;
    margin: 15px auto;
    padding: 10px;
    background-color: #ffffff93;
    border: 1px solid #aa6817;;
}
.login__container button{
    width: 30vmin;
    margin: auto;
    font: inherit;
    padding: 15px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    background-color: #8f5e1e;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 1.5vmax;
}
.login__container button:hover{
    border: 1px solid #aa6817;
    background-color: #d39952
}
/* #################################################################
########################## Signup ###################################
################################################################# */
.register {
  display: block;
  position: static;
  height: 70vh;
}
.register__container {
  position: relative;
  top: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
}
.register__container input {
  width: 30vmin;
  border-radius: 12px;
  margin: 15px auto;
  padding: 10px;
  background-color: #ffffff93;
  border: 1px solid #aa6817;;
}
.register__container button {
  width: 30vmin;
  margin: auto;
  font: inherit;
  padding: 15px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  background-color: #8f5e1e;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 1.5vmax;
}
.register__container button:hover{
    border: 1px solid #aa6817;
    background-color: #d39952
}
/* #################################################################
######################## Forggoten ################################
################################################################# */
.reset{
    display: block;
    position: static;
    height: 70vh;
}
.reset__container{
    position: relative;
    top: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
}
.reset__container input{
    width: 30vmin;
    border-radius: 12px;
    margin: 15px auto;
    padding: 10px;
    background-color: #ffffff93;
    border: 1px solid #aa6817;;
}
.reset__container button{
    width: 30vmin;
    margin: auto;
    font: inherit;
    padding: 15px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    background-color: #8f5e1e;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-top: .5vmax;
}
.reset__container button:hover{
    border: 1px solid #aa6817;
    background-color: #d39952
}

